a {
  color: $darker-blue;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  code {
    color: inherit;
    &:hover { color:inherit; }
  }

  &:hover {
    color: $darker-blue;
  }

  &:active {
    box-shadow: none;
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px $darker-blue;
    border-radius: 4px;
    padding: 0px 3px;
    margin: -2px -3px;

    code {
      position: relative;
      top: -2px;
    }
  }

  code {
    color: $darker-blue !important;
  }
}
