article {
  header {
    display: block;

    h1, h2, h3 {
      font-size: 2.6em;
    }

    p, aside {
      font-size: 1.4em;
      line-height: 1.6em;
      font-weight: 400;
      margin-bottom: 0px;
    }
  }

  header, section, footer {
    padding: 0px $spacing;
  }

  footer {
    padding: $spacing;
    line-height: 1.4em;

    time {
      font-size: .8em;
      margin: 0px;
    }
  }
}

body.dark article footer   {
  a, time {
    color: lighten($lighter-dark, $color-step/2);
  }
}
