body {
  font-family: $font-family-sans-serif;
  font-size: $font-size;
  line-height: $font-line-spacing;
  padding: 0px;
  margin: 0px;
  @include light-theme;

  &.light { @include light-theme; }
  &.dark { @include dark-theme }
}
