code {
  font-family: $font-family-monospace;
  font-size: .8em;
  color: $lighter-black;
  background: lighten($white, $color-step/12);
  padding: 3px 5px;
  border-radius: 4px;
}

body.dark code {
  background: $dark;
  color: $darker-grey;
}
