h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: $spacing auto 0px;
  line-height: 1.4em;
}

h1 { font-size: 2.2em }
h2 { font-size: 2.0em }
h3 { font-size: 1.8em }
h4 { font-size: 1.4em }
h5 { font-size: 1.2em }
h6 { font-size: 1.0em }
