ul {
  margin: $spacing/2 0px;
  padding: 0px;
  padding-left: $spacing*1.1;

  ul, ol {
    margin: 0px;
    padding-left: $spacing/1.3;
  }

  li {
    list-style: none;
    &:before {
      content: '*';
      font-size: 1.8em;
      line-height: 1.35em;
      color: $darker-grey;
      position: absolute;
      margin-left: $spacing/2.6 * -1;
      vertical-align: center;
    }
  }
}

body.dark ul li:before {
  color: $lighter-dark;
}
